/* General Color and Font Theme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #D7D4DD;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, p { 
    color: #333F63;
    font-family: "Poppins", sans-serif;
}
.jumbotron {
    height: 90vh;
    background-color: transparent !important;
    padding: none;
    border: none;
    margin-left: 3%;
    margin-right: 3%;
}
.about h1, .education h1, .experience h1, .research h1, .projects h1{
    color: #715C8C;
    font-weight: bold;
}

/* Navbar */
.nav-bar {
    background-color: #838BC2;
}
.nav-link {
    color: #D7D4DD !important; 
    font-style: bold;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 8px;
}
.nav-link:hover {
    border-bottom: 2px solid #333F63;
    color: #333F63;
    text-decoration: none;
}


/* Landing Page */
.container {
    height: 91vh;
    width: auto;
}
.btn {
    background-color: transparent !important;
    border: 1.5px solid #333F63 !important;
    border-radius: 50px !important;
}
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}
.button-link {
    color: #333F63;
}

.btn .button-link:hover {
    border: none;
    color: #D7D4DD !important;
    text-decoration: none;
}

/* About Page */
.about span, .about a {
    color: #715C8C;
}
.about a:hover, .about a:active {
    color: #333F63;
    font-style: bold;
    text-decoration: none;
}
.about a i {
    font-size: 100px;
    display: inline-block;
    margin: 2%;
    color: #333F63;
    text-decoration: none;
}
@media only screen and (max-width: 700px){
    .about a i {
        font-size: 60px;
    }
}
.about a i:hover, .about a i:active {
    color: #838BC2;
}

/* Education Page */
.education .col {
    justify-content: center;
    text-align: center;
}
.education a{
    color: #333F63;
    text-decoration: none;
}
.education a:hover, .education a:active {
    color: #715C8C;
    font-style: bold;
    text-decoration: none;
}

/* Experience and Research Pages */
.experience p, .research p{
    text-align: justify;
}
.experience a{
    color: #333F63;
    text-decoration: none;
}
.experience a:hover, .experience a:active {
    color: #715C8C;
    font-style: bold;
    text-decoration: none;
}

/* Projects Page */
.projects p{
    text-align: justify;
}
